fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
mysql-connector-python==9.1.0
python-multipart==0.0.19
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-decouple==3.8
alembic==1.14.0
pydantic==2.10.4
pydantic-settings==2.6.1
email-validator==2.2.0
aiofiles==24.1.0
python-dotenv==1.0.1
bcrypt==4.2.1
PyJWT==2.10.1
cryptography==44.0.0
pymysql==1.1.1
